[Unit]
After=podman_container_wireguard.service
BindsTo=podman_container_wireguard.service

[Install]
RequiredBy=podman_container_wireguard.service

[Service]
Type=simple
Environment=VOLUME_NAME=wireguard
ExecStartPre=/bin/sh -c 'touch $(podman volume mount ${VOLUME_NAME})/logs/kernel.log'
ExecStart=/bin/sh -c 'journalctl -f -k | grep wireguard --line-buffered | tee $(podman volume mount ${VOLUME_NAME})/logs/kernel.log'
Restart=always
RestartSec=5
